<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_UI_FLAG_FULLSCREEN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationTest"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.notes.NotesActivity"
            android:label="Notes"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.chill.WatchlistActivity"
            android:label="Watchlist"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.chill.TripActivity"
            android:label="Trip"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.raccoons.RaccoonActivity"
            android:label="Raccoon"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.planner.PlannerActivity"
            android:label="Planner"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.reminders.RemindersActivity"
            android:label="Reminders"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.food.FoodActivity"
            android:label="Food"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.notes.CreateNoteActivity"
            android:label="CreateNote"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.notes.EditNoteActivity"
            android:label="EditNote"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.gym.GymActivity"
            android:label="Gym"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.gym.ExerciceActivity"
            android:label="Exercice"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.gym.PlanningActivity"
            android:label="Planning"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.gym.WorkoutActivity"
            android:label="Workout"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.chill.ChillActivity"
            android:label="Chill"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.food.ShoppingListActivity"
            android:label="Shopping"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.food.IngredientActivity"
            android:label="Ingredient"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.food.MealActivity"
            android:label="Meal"
            android:theme="@style/noAnimTheme"/>

        <activity
            android:name=".activity.food.UberEatActivity"
            android:label="UberEat"
            android:theme="@style/noAnimTheme"/>

    </application>

</manifest>