<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_UI_FLAG_FULLSCREEN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationTest"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.notes.NotesActivity"
            android:label="Notes" />

        <activity
            android:name=".activity.movies.WatchlistActivity"
            android:label="Watchlist" />

        <activity
            android:name=".activity.raccoons.RaccoonActivity"
            android:label="Raccoon" />

        <activity
            android:name=".activity.planner.PlannerActivity"
            android:label="Planner" />

        <activity
            android:name=".activity.reminders.RemindersActivity"
            android:label="Reminders" />

        <activity
            android:name=".activity.food.FoodActivity"
            android:label="Food" />

        <activity
            android:name=".activity.notes.CreateNoteActivity"
            android:label="CreateNote" />

        <activity
            android:name=".activity.notes.EditNoteActivity"
            android:label="EditNote" />

    </application>

</manifest>